.clickable {
    cursor: pointer;
}

.main {
    grid-area: main;
    padding: 2rem;
}

.leftNav {
    grid-area: leftNav;
    background: #eee;
}

.nowPlaying {
    grid-area: nowPlaying;
    background: #ddd;
}

.player {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nowPlaying nowPlaying"
        "leftNav main";
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto;
}

.controls {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.playbackControls {
    .nextButton,
    .prevButton {
        font-size: 2rem;
    }
    .playPauseButton {
        font-size: 3rem;
    }
}

.volume {
    display: flex;
}

.volumeSlider {
    width: 6rem;
    margin-left: 1rem;
}

.progress {
    display: flex;
}

.progressBar {
    width: 40rem;
    padding: 0 1rem;
}

.trackList {
    margin: 0;
    padding-left: 0;
}

.trackListRow {
    padding: 0.2rem;
    display: flex;
    text-align: left;
    .title {
        flex-basis: 40%;
    }
    div {
        flex-basis: 30%;
    }
}

.trackSummary {
    display: flex;
    .trackDescription {
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
    }
}
